/* General styling */

body {
    height: 100vh;
    margin: 0;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    border: 1px solid black;
    padding: 20px 50px;
}

main h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    background-color: red;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

/* HOMEPAGE */

.homepage {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.homepage h1 {
    text-align: center;
}

.homepage #logo {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    font-size: 60px;
    font-weight: bold;
    font-family: sans-serif ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage .start-button {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    background-color: red;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
}

/* SELECT ROUNDS */
.select-rounds {
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

.select-rounds .rounds {
    margin: 0;
    background-color: red;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
}

/* PLAYING PAGE */

.playing-page {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.play {
    margin: 0;
    width: 100px;
    text-align: center;
}

.playing-page {
    /* display: none; */
}