/* img {
    width: 500px;
    height: 300px;
} */

* {
    margin: auto;
}

body {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* justify-content: center; */
}

h1 {
    text-align: center;
}

#logo {
    width: 500px;
    height: 300px;
    border: 1px solid magenta;
    color: red;
}

#start-button {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    background-color: red;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
}

#start-button:hover {
    cursor: pointer;
}

#start-button:active {
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}