body {
    height: 100vh;
    display: flex;
    align-items: center;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.monitor::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.monitor {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.main {
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    border: 1px solid saddlebrown;
}

.monitor {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    border: 1px solid red;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-x: auto;
}

.previous-result {
    align-self: flex-end;
    font-size: 28px;
    /* border: 1px solid green; */
}

.result {
    align-self: flex-end;
    font-size: 28px;
    /* border: 1px solid blue; */
}

.controller {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas: 
        "seven eight nine divide"
        "four five six multiply"
        "one two three substract"
        "ac zero equal add";
    gap: 10px;
}

#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#zero {grid-area: zero;}
#divide {grid-area: divide;}
#multiply {grid-area: multiply;}
#substract {grid-area: substract;}
#add {grid-area: add;}
#ac {grid-area: ac;}
#equal {grid-area: equal;}

.button {
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #DADCE0;
    font-family: sans-serif;
    font-size: 28px;
    text-align: center;
}

.button:hover {
    cursor: pointer;
}

.number {
    background-color: #f1f3f4;
}

#equal {
    background-color: blue;
    color: white;
}